header {
  background-size: cover;
  background: url('./../img/header-bg.png') center;
  padding-top: 1rem;

  .nav-wrapper {
    position: relative;
  }

  .logo {
    display: inline-block;

    img {
      max-width: 6rem;
    }
  }

  nav {
    display: inline-block;
    float: right;

    li {
      float: left;
      padding: 0.4rem;

      a {
        color: $text-white;
        text-decoration: none;
        font-size: 0.75rem;

        &:hover {
          color: $link-hover;
          text-decoration: none;
        }
      }
    }
  }

  .header-content {
    text-align: center;
    min-height: 20rem;
    margin-top: 3rem;

    #get-started-link {
      color: $white;
      font-weight: 400;
      line-height: 1.4rem;
      text-transform: uppercase;
      background-color: $btn-brown;
      border-radius: 0.18rem;
      box-shadow: inset 0 -0.18rem 0 $dark-brown;
      padding: 0.4rem 0.75rem 0.5rem 0.75rem;
      font-size: 0.75rem;

      &:hover {
        text-decoration: none;
        background-color: $dark-brown;
      }
    }

    p {
      margin-bottom: 3rem;
      font-size: 1rem;
      line-height: 1.25;
    }
  }

  .mobile-menu-wrapper {
    float: right;
  }

  #main-navigation {
    position: absolute;
    top: 2.18rem;
    display: none;

    &.open {
      display: block;
      background-color: $black;
    }
  }

  #menuToggle {
    display: block;
    float: right;
    z-index: 1;
    user-select: none;
  }

  #menuToggle input {
    display: block;
    width: 2.5rem;
    height: 2rem;
    position: absolute;
    top: -0.43rem;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
  }

  #menuToggle span {
    display: block;
    width: 2rem;
    height: 0.25rem;
    margin-bottom: 0.3rem;
    position: relative;
    background: $light-grey;
    border-radius: 0.15rem;
    transform-origin: 0.25rem 0;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
    opacity 0.55s ease;
  }

  #menuToggle span:nth-last-child(2) {
    transform-origin: 1.25rem 1.25rem;
  }

  #menuToggle span:nth-last-child(1) {
    transform-origin: 0.6rem -0.6rem;
  }

  #menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-0.12rem, -0.06rem);
  }

  #menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }

  #menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -0.06rem);
  }
}

@media (min-width: 575.98px) {
  header {
    p {
      font-size: 0.75rem;
    }
  }
}

@media (min-width: 768px) {
  header {
    #main-navigation {
      position: unset;

      ul {
        float: right;
      }
    }

    #main-navigation {

      &.open {
        background-color: transparent;
      }
    }
  }
}
