.btn {
  border-radius: 0.18rem;
  border: 0.06rem solid $grey;
  background-color: $white;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  color: $dark-grey;
  font-size: 0.85rem;
  font-weight: 300;

  &.active,
  &:hover,
  &:active,
  &:focus {
    background-color: $brown;
    color: $white;
    box-shadow: none;
  }
}
