.btn {
  border-radius: 3px;
  border: 1px solid $grey;
  background-color: $white;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  color: $dark-grey;
  font-size: 14px;
  font-weight: 300;

  &.active,
  &:hover,
  &:active,
  &:focus{
    background-color: #998675;
    color: white;
    box-shadow: none;
  }
}
