// ====================
// Font
// ====================

$base-font-size: 16px;

// ====================
// Colors.
// ====================

$white: #fff;
$light-brown: #c7b299;
$brown: #998675;
$dark-brown: #736357;
$grey: #ebebeb;
$dark-grey: #8c8c8c;

// Text colors.
$text-white: $white;

// link.
$link-hover: $light-brown;

// button.
$btn-brown: $brown;
